.container{
    width:650px;
    margin: auto;
    border: 1px  ;
    padding: 10px;
    background: #fff;
    color:#fff;
}

h2{
    text-align: center;
    text-decoration: bold;
    color: #f72a68;

}

table{
    background: #f72a68;
    margin:auto;

}

td{
    padding: 10px
}

input[type=button] {
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: transparent;
border: 2px solid #f72a68;
border-radius: 0.6em;
color: #f72a68;
cursor: pointer;
display: flex;
align-self: center;
font-size: 1rem;
font-weight: 400;
line-height: 1;
margin: 20px;
padding: 1em 1.5em;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}